<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link href="../static/style/index.css" th:href="@{/style/heartbeat.css}" rel="stylesheet" media="screen"/>
    <link href="../static/style/heartbeat.css" th:href="@{/style/heartbeat.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<img />
    <div class="transbox">
        <p th:inline="text">Hello.v.2</p>
        <div class="heart3">&#x2665;</div>
        <h1>Follow the heartbeat</h1>
        <div id="vader" style="font-size: 40px;"></div>
        <div id="luke" style="font-size: 40px;"></div>
    </div>

    <audio id="audio" autoplay="autoplay" th:hidden="false" controls="controls" loop="loop" preload="auto" src="../media/balloon.mp" />
    <script src="../static/script/theater.js" th:src="@{/script/theater.js}"></script>
    <script src="../static/script/index.js" th:src="@{/script/index.js}"></script>

</body>
</html>